:root {
    --fonte-principal: 'Work Sans';
    --fonte-secundaria: 'Fjalla One';
    --branco-padrao: #FFFFFF;
    --branco-secundario: #D9D9D9;
    --preto-principal: #000000;
    --cinza-principal: #6B6B6B;
    --cinza-card: #959595;
    --rosa: #FFC756;
    --laranja: #F66139;
    --azul: #7F8FFE;
    --verde: #56B78C;
}

* {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
}


.cabecalho__lista {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--preto-principal);
    width: 100%;
    height: 268px;
    flex-wrap: wrap;
    column-gap: 5%;
}

.cabecalho__imagem {
    padding: 0 100px;
    cursor: pointer;
}


.cabecalho__lista--item {
    color: var(--branco-padrao);
    font-family: var(--fonte-secundaria);
}

.cabecalho__seu--local::before {
    content: url(img/icone-gps.png);
    margin-right: 8px;
    cursor: pointer;
}

.cabecalho__seu--local::after {
    content: url(img/icone-seta.png);
    margin: 0 10px 0 8px;
    cursor: pointer;
}

.principal {
    padding: 0 1.5rem;
}

.menu__pesquisar {
    width: 86.6%;
    height: 40px;
    border: 2px solid white;
    border-radius: 10px;
}

.menu__input {
    color: var(--branco-padrao);
    background: var(--preto-principal);
    background-image: url(img/icone-busca.png);
    background-repeat: no-repeat;
    background-position: right;
    font-size: 16px;
    border: none;
    outline: none;
    width: 94%;
    line-height: 35px;
    margin-left: 8px;
}

.banner {
    width: 312px;
    display: grid;
    gap: 16px;
}

.banner--1 {
    grid-column: 1/3;
    
}

.banner--4 {
    grid-column: 2/3;
    grid-row: 2/4;
}

.banner--1, .banner--2, .banner--3, .banner--4 {
    width: 100%;
}


.categorias__titulo {
    font-size: 20px;
    line-height: 25px;
    font-family: var(--fonte-secundaria);
    margin: 24px 0 16px 0;
}

.categorias__lista {
    height: 609px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.categorias__lista--items {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    font-family: var(--fonte-secundaria);
    color: var(--branco-padrao);
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 282px;
}



.item--rosa {
    background: var(--rosa);
}

.item--laranja {
    background: var(--laranja);
}

.item--azul {
    background: var(--azul);
}

.item--verde {
    background: var(--verde);
}


.destaque__lista {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.destaque__titulo {
    font-size: 20px;
    line-height: 25px;
    font-family: var(--fonte-secundaria);
}

.destaque__item {
    white-space: nowrap;
}
.item__linha {
    width: 131px;
    height: 2px;
    background: var(--preto-principal);
    flex-grow: 1;
}

.destaque__imagem--seta {
    margin-right: 18px;
}
.destaque__imagem {
    width: 100%;
    height: 271px;
    background-image: url("img/destaques-360.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 16px 0 24px 0;   
}

.eventos__titulo {
    font-family: 'Fjalla One';
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}


.eventos__item {
    background: var(--branco-secundario);
    width: 100%;
    height: 350px;
    margin: 16px 0;
    max-width: 400px;
    display: grid;
    grid-template-areas: 
        "imagem imagem"
        "nome nome"
        "data data"
        "local botao";
}

.eventos__imagem {
    width: 100%;
    grid-area: imagem;
    height: 100%;
}

.eventos__item h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-left: 16px;
    grid-area: nome;
    align-self: center;
}

.eventos__item h4 {
    line-height: 19px;
    margin-left: 16px;
    grid-area: data;
}

.eventos__item h5 {
    line-height: 19px;
    margin-left: 16px;
    grid-area: local;
}

.eventos__item a { 
    line-height: 19px;
    color: var(--branco-padrao);
    background: var(--preto-principal);
    width: 70%;
    text-decoration: none;
    border: none;
    height: 32px;
    grid-area: botao;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao__fora {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 19px;
    color: var(--branco-padrao);
    background: var(--preto-principal);
    text-decoration: none;
    width: 41.11%;
    height: 40px;
}
.li__botao {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.agenda__titulo {
    font-family: var(--fonte-secundaria);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 16px;
}

.agenda__card {
    width: 100%;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.agenda__imagem {
    grid-column: 1 /span 2;
    width: 100%;
    height: 100%;
}

.agenda__info {
    grid-column: 1;
    grid-row: 2;
    background: var(--cinza-card);
    text-align: center;
}

.agenda__info--texto {
    line-height: 32px;
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    color: var(--branco-padrao);
}
.agenda__info--texto:first-child {
    font-size: 32px;
    font-family: var(--fonte-secundaria);
    margin-top: 15.61px;
}

.agenda__info--texto:last-child {
    margin-bottom: 17.12px;
}

.agenda__info2 {
    text-align: center;
    background: var(--branco-secundario);
}

.agenda__evento {
    display: inline-block;

    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin: 26.15px 0 39.22px 0;
    height: 22px;
    width: 81.76%;
}

.agenda__botao {
    line-height: 19px;
    color: var(--branco-padrao);
    text-decoration: none;
    background: var(--preto-principal);
    padding: 6.5px 17.24%;
    margin-top: 39.22px;
}


.rodape {
    background: var(--preto-principal);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
    padding-bottom: 24px;
}



.rodape__lista--titulo {
    font-size: 18px;
    line-height: 23px;
    font-family: var(--fonte-secundaria);
    color: #c2c2c2;
    margin: 0 0 14px 0;
}

.rodape__lista--texto {
    font-size: 14px;
    line-height: 16px;
    color: #c2c2c2;;
    margin: 0 0 9px 0;    
}

.rodape__imagem {
    display: block;
    margin: 0 0 0 15px;
}

.rodape__imagem--texto {
    font-size: 12px;
    line-height: 14px;
    color: #c2c2c2;
    margin: 8px 0 0 0;
}

.listas__rodape:nth-child(1) {
    width: 148px;
    height: 128px;
    margin: 24px 0 0 24px;
}

.listas__rodape:nth-child(2) {
    width: 148px;
    height: 128px;
    margin: 24px 0 0 24px;
}

.listas__rodape:nth-child(3) {
    width: 148px;
    height: 228px;
    margin-left: 24px;
}

.listas__rodape:nth-child(4) {
    width: 148px;
    height: 128px;
}

.listas__rodape:nth-child(5) {
    width: 148px;
    height: 187px;
    margin-left: 24px;
}

.listas__rodape:nth-child(6) {
    margin-right: 24px;
    align-self: end;
}


@media screen and (min-width: 720px) {

    .principal {
        padding: 0 40px;
    }
    .menu__pesquisar {
        width: 43.44%;
    }

    .cabecalho__imagem {
        padding: 0;
    }
    
    .cabecalho__lista--item {
        margin-right: 25px;
    
    }
    .banner {
        width: 640px;
        height: 245px;
        margin-bottom: 24px;
        column-gap: 16px;
    }

    .banner--1 {
    grid-column: 1/3;
    grid-row: 1/3;
    }

    .banner--4 {
        grid-column: 4/5;
        grid-row: 1/3;
    }

    .banner--1, .banner--2, .banner--3, .banner--4 {
        height: 100%;
    }
    .banner--1 {
        width: 312.02px;
    }

    .banner--2, .banner--3, .banner--4 {
        width: 143px;
    }

    .categorias__lista {
        flex-wrap: wrap;
        height: 351px;
        width: 100%;
        row-gap: 16px;
        column-gap: 16px;
    }

    .categorias__lista--items {
        width: 312.02px;
    }

    .destaque__lista {
        gap: 25px;
    }

    .eventos__lista {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 16px;
    }

    .eventos__item {
        width: 312px;
        margin: 0;
    }

    .eventos__titulo {
        margin-bottom: 24px;   
    }

    .li__botao {
        justify-content: flex-end;
    }

    .botao__fora {
        width: 140px;
    }

    .lista2 {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 16px;
    }

    .agenda__card {
        width: 312px;
        max-width: 400px;
    }

    .listas__rodape:nth-child(3) {
        margin-top: 24px;
    }
    
    .listas__rodape:nth-child(4) {
        margin-top: 24px;
    }
}

@media screen and (min-width: 1440px) {

    .principal {
        padding: 0 120px;
    }
    .menu__pesquisar {
        width: 26.45%;
    }

    .cabecalho__lista {
        column-gap: 10px;
        height: 88px;
    }

    .cabecalho__ordem:nth-child(1) {
        order: 1;
       
    }

    .cabecalho__ordem:nth-child(2) {
        order: 3;
    }

    .cabecalho__ordem:nth-child(3) {
        order: 4;
    }
    .cabecalho__ordem:nth-child(4) {
        order: 5;
    }
    .cabecalho__ordem:nth-child(5) {
        order: 2;
    }

    .cabecalho__imagem {
        width: 91.85px;
        height: 72.04px;
    }

    .cabecalho__lista--item {
        margin: 0;
    }
    .banner {
        width: 100%;
        height: 464px;
        margin: 0 0 24px 0;
    }

    .banner--1 {
        width: 588px;
    }
    .banner--2, .banner--3, .banner--4 {
        width: 282px;
    }

    .categorias__destaque {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 24px;
        width: 100%;
    }

    .categorias {
        width: 51%;
        height: 351px;
    }

    .categorias__titulo {
        margin: 0 0 24px 0;
    }

    .categorias__lista--items {
        width: 282px;

    }

    .categorias__lista {
        align-items: stretch;
        column-gap: 0;
    }

    .destaque {
        width: 49%;
        height: 285px;
        align-self: end;
    }
    .destaque__imagem {
        width: 100%;
        height: 224px;
        margin: 0;
    }

    .destaque__lista {
        margin-bottom: 35px;
    }

    .banner--1 {
        height: 464px;
    }

    .banner--2 {
        height: 219px;
    }

    .banner--3 {
        height: 219px;
    }

    .banner--4 {
        height: 464px;
    }

    .listas__rodape:nth-child(5) {
        margin-top: 24px;
    }

    .eventos__item {
        width: 282px;
    }

    .eventos__lista {
        column-gap: 24px;
    }

    .agenda__card {
        width: 384px;
    }

    .lista2 {
        column-gap: 24px;
    }

    .agenda__info--texto {
        margin-bottom: 8px
    }
}